<% provide(:title, 'About Us') %>

	<h3>Company Profile</h3>

	<div class="center hero-unit">
		<h1>GeoLS Pte Ltd</h1>
		
		<h2>
			This is the Company Profile for GeoLS Pte Ltd.
		</h2>

	</div>

		<p>
			GeoLS is a company specializing in Geotechnical Engineering with a wealth of experience. GeoLS's services and expertise do encompass total solution for Geotechnical Investigation, Instrumentation and Laboratory Services.

​			GeoLS was incorporated in Singapore on 29th of June 2001 Soon after the establishment, GeoLS 				become one of the flagships in geotechnical engineering because of its quality service at 					reasonable price. GeoLS is a registered company of Building and Construction Authority (BCA). 				Detailed information of GeoLS is as per following.
		</p>

</html>
