<% provide(:title, 'About Us') %>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
        <li data-target="#myCarousel" data-slide-to="7"></li>
      </ol>
      <div class="carousel-inner">
        
        <div class="item active">
          <img src="assets/team.jpg" data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:First slide" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              </p>

            </div>
          </div>
        </div>
        <div class="item">
          <img src="assets/borehole_1.jpg" data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:Second slide" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              </p>
            </div>
          </div>
        </div>

        <div class="item">
          <img src="assets/marine_si.jpg" data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:Third slide" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              </p>
            </div>
          </div>
        </div>

        <div class="item">
          <img src="assets/marine_si2.jpg" data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:Fourth slide" alt="Fourth slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              </p>
            </div>
          </div>
        </div>

        <div class="item">
          <img src="assets/borehole_2.jpg" data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:Fifth slide" alt="Fifth slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              </p>
            </div>
          </div>
        </div>

        <div class="item">
          <img src="assets/safety.jpg" data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:Sixth slide" alt="Sixth slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p>
            </div>
          </div>
        </div>


        <div class="item">
          <img src="assets/seismic.jpg" data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:Seventh slide" alt="Seventh slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              </p>
            </div>
          </div>
        </div>

        <div class="item">
          <img src="assets/terminal_box.jpg" data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:Eight slide" alt="Eight slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- /.carousel -->
<div class="container marketing">    


	<h1>Company Profile</h1>





		<p>
			GeoLS is a company specializing in Geotechnical Engineering with a wealth of experience. GeoLS's services and expertise do encompass total solution for Geotechnical Investigation, Instrumentation and Laboratory Services.

​			GeoLS was incorporated in Singapore on 29th of June 2001 Soon after the establishment, GeoLS become one 
            of the flagships in geotechnical engineering because of its quality service at reasonable price. GeoLS is a registered company of Building and Construction Authority (BCA). Detailed information of GeoLS is as per following.
		</p>
		<ul>
			<li>Business Registration : 200104293D</li>
			<li>GST Registration      : 20-0104293-D</li>
			<li>BCA Registration      : CR-15 Site Investigation Works, Specialist Builder - SB(SI)</li>
			<li>Certification         : OHSAS18001:28793/A, ISO9001:28793/B, bizSAFE STAR</li>
		</ul>

		<p>
			In under three years since its establishment in 2001, more than 100 projects were in queue for our services. This is a result of confidence and trust of customers to GeoLS services. This is exceptionally more than expected.
​		</p>
		<p>
			The first milestone project was "Geotechnical Instrumentation Worls for the New MRT Circle Line 1 Contract 825". From beginning of year 2002, million dollar projects like Kallang Paya Lebar Expressway Contract 421 and 422, Circle line Stage-2 Contract 823 are under the scope of GeoLS for geotechnical engineering services. Below is the list some of our major projects.
		</p>
		<ul>
			<li>Circle Line Stage-1: Contract-825</li>
			<li>Kallang Paya Lebar Expressway (KPE) Contract: 421 (From ECP to Nicoll Highway)</li>
			<li>Kallang Paya Lebar Expressway (KPE) Contract: 422 (From Nicoll Highway to PIE)</li>
			<li>Circle Line Stage-2: Contract-823 and 824</li>
			<li>Marina South Near Central Boulevard (Stage 2)</li>
			<li>Downtown Line 1 Contract 903</li>
			<li>Site Investigation Works for Road and Rail Project: Contract ER320</li>
		</ul>

</div>
