<% provide(:title, 'About Us') %>

<br />

	<h1>Company Profile</h1>



<div id="gallery">
    <div id="panel">
        <img id="largeImage" src= "assets/office.jpg">
        <div id="description">1st image description</div>
    </div>
    <div id="thumbs">
        <img src="assets/office.jpg" alt="1st image description">
    </div>
    <div id="thumbs">
        <img src="assets/team.jpg" alt="2nd image description">
    </div>
    <div id="thumbs">
        <img src="assets/borehole_1.jpg" alt="3rd image description">
    </div>
    <div id="thumbs">
        <img src="assets/marine_si.jpg" alt="4th image description">
    </div>
    <div id="thumbs">
        <img src="assets/marine_si2.jpg" alt="5th image description">
    </div>
    <div id="thumbs">
        <img src="assets/borehole_2.jpg" alt="6th image description">
    </div>
    <div id="thumbs">
        <img src="assets/safety.jpg" alt="6th image description">
    </div>
    <div id="thumbs">
        <img src="assets/safety.jpg" alt="6th image description">
    </div>
    <div id="thumbs">
        <img src="assets/safety.jpg" alt="6th image description">
    </div>
</div>


	<div class="row group-profile">

		<p>
			GeoLS is a company specializing in Geotechnical Engineering with a wealth of experience. GeoLS's services and expertise do encompass total solution for Geotechnical Investigation, Instrumentation and Laboratory Services.

​			GeoLS was incorporated in Singapore on 29th of June 2001 Soon after the establishment, GeoLS become one of the flagships in 
            geotechnical engineering because of its quality service at reasonable price. GeoLS is a registered company of Building and Construction Authority (BCA). Detailed information of GeoLS is as per following.
		</p>
		<ul>
			<li>Business Registration : 200104293D</li>
			<li>GST Registration      : 20-0104293-D</li>
			<li>BCA Registration      : CR-15 Site Investigation Works, Specialist Builder - SB(SI)</li>
			<li>Certification         : OHSAS18001:28793/A, ISO9001:28793/B, bizSAFE STAR</li>
		</ul>

		<p>
			In under three years since its establishment in 2001, more than 100 projects were in queue for our services. This is a result of confidence and trust of customers to GeoLS services. This is exceptionally more than expected.
​		</p>
		<p>
			The first milestone project was "Geotechnical Instrumentation Worls for the New MRT Circle Line 1 Contract 825". From beginning of year 2002, million dollar projects like Kallang Paya Lebar Expressway Contract 421 and 422, Circle line Stage-2 Contract 823 are under the scope of GeoLS for geotechnical engineering services. Below is the list some of our major projects.
		</p>
		<ul>
			<li>Circle Line Stage-1: Contract-825</li>
			<li>Kallang Paya Lebar Expressway (KPE) Contract: 421 (From ECP to Nicoll Highway)</li>
			<li>Kallang Paya Lebar Expressway (KPE) Contract: 422 (From Nicoll Highway to PIE)</li>
			<li>Circle Line Stage-2: Contract-823 and 824</li>
			<li>Marina South Near Central Boulevard (Stage 2)</li>
			<li>Downtown Line 1 Contract 903</li>
			<li>Site Investigation Works for Road and Rail Project: Contract ER320</li>
		</ul>

	</div>
