<% provide(:title, 'Contact Us') %>

<br />

	<h1>Contact Us</h1>



	<div class="row group-contact">

		<address>
			<strong> GeoLS Pte Ltd </strong>
			<br>
			61 Kaki Bukit Ave 1, #04-30
			<br>
			Shun Li Industrial Park
			<br>
			Singapore, 417943
			<br>
			<abbr title="Phone"><i class="icon-user"></i></abbr>
			+65 6546 5585
			<br>
			<abbr title="Fax"><i class="icon-print"></i></abbr>
			+65 6546 5595
			<br>
			<abbr title="Email"><i class="icon-envelope"></i></abbr>
			<a href="mailto:admin@geols.com.sg">
			admin@geols.com.sg </a>
		</address>

		<div class="icon">
			<a href="http://facebook.com/geols.pte.ltd" target="blank">
				<img src= <%= asset_path 'facebook.png' %>> </a>
		</div>

		<div class="icon">
			<a href="#">
				<img src= <%= asset_path 'twitter.png' %>> </a>
		</div>

	</div>

	<div class="contact-map">

	<img src="http://maps.googleapis.com/maps/api/staticmap?center=61 kaki bukit avenue 1&zoom=15&size=750x350&markers=color:blue&sensor=false">

	</div>
