<% provide(:title, 'Contact Us') %>
	<h3>Contact Us</h3>

	<div class="center hero-unit">
		<h1>GeoLS Pte Ltd</h1>
		
		<h2>
			This is the Contact for GeoLS Pte Ltd.
		</h2>

	</div>

		<ul>
			 GeoLS Pte Ltd
		</ul>
		<ul>
			 61 Kaki Bukit Ave 1, #04-30 
		</ul>
		<ul>
			 Shun Li Industrial Park 
		</ul>
		<ul>
			 Singapore, 417943 
		</ul>
		<ul>
			 +65 6546 5585
		</ul>
		<ul>
			 +65 6546 5595
		</ul>
		<ul> 
			 admin@geols.com.sg 
		</ul>
