<% provide(:title, 'Geotechnical Instrumentation and Monitoring') %>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="assets/office.jpg" data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:First slide" alt="First slide">
        </div>
        <div class="item">
          <img src="assets/bridge.jpg" data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:Second slide" alt="Second slide">
        </div>
        <div class="item">
          <img src="assets/tunnel.jpg" data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:Third slide" alt="Third slide">
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class=".glyphicon .glyphicon-chevron-left">
      </span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class=".glyphicon .glyphicon-chevron-right">
      </span>
      </a>
    </div>

	<div class="container">
		<h1>
			Geotechnical Instrumentation and Monitoring
		</h1><br/>

		<p>We provide Geotechnical Instrumentation and Monitoring from Inclinometer to Tiltmeter. We monitor the data given from the instruments to analyze the condition of the soil and structures. Our expertise includes the following:</p>

		<div class="service-list">

			<ol>
			1. Deformation of Ground and Structure Observation.
				<ul>
				<li>
					Inclinometer (Manual and Automatic)
				</li>
				<li>
					Electrolevel Sensor
				</li>
				<li>
					Tilt and Crack Meter
				</li>
				<li>
					Load Cells
				</li>
				<li>
					Settlement Marker and Plate
				</li>
				<li>
					Deep Settlement Gauge
				</li>
				<li>
					Multilevel Settlement Gauge
				</li>
				<li>
					Covergence and Divergence Measurement of Structure
				</li>
				<li>
					3D measurement of Structure and Tunnel with Automatic Systems
				</li>
				</ul>
				</ol>
		<br />
			<ol>
				2. Ground Water Observation.
				<ul>
				<li>
					Water Standpipe
				</li>
				<li>
					Peizometer
				</li>
				<li>
					Strain Gauge
				</li>
				</ul>
			</ol>
		<br />
			<ol>
				3. Monitoring Service for Construction.
				<ul>
				<li>
					Vibration Monitoring
				</li>
				<li>
					Noise Monitoring
				</li>
				</ul>
			</ol>
		<br />
			<ol>
				4. Data Management and Monitoring System.
				<ul>
				<li>
					Data Automatic Logging and Real Time Monitoring System
				</li>
				<li>
					Remote Monitoring System
				</li>
				</ul>
			</ol>

		</div>

	</div>
</div>

