<% provide(:title, 'Instrumentation Sales and Distribution') %>
		
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="assets/office.jpg" data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:First slide" alt="First slide">
        </div>
      </div>
    </div>

<div class="container">
	<h1>Instrumentation Sales & Distribution</h1>

	<p>We are the official distributor of itmsoil instrument who specializes in the design, development, manufacture and installation of a wide range of Geotechnical and Structural Instrumentation which embody the highest standards of engineering, the latest technology and an accredited quality control system to achieve maximum reliability and long term performance. For the list of instrumentation, please click link below.</p>

	<br />

	  <ul class="nav nav-tabs">
	  	<li class="active">
	  		<a href="#la" data-toggle="tab">Inclinometer</a>
	  	</li>
	  	<li class>
	  		<a href="#lb" data-toggle="tab">Extensometer</a>
	  	</li>
	  	<li class>
	  		<a href="#lc" data-toggle="tab">Strain Gauges</a>
	  	</li>
	  	<li class>
	  		<a href="#ld" data-toggle="tab">Tiltsensor</a>
	  	</li>
	  	<li class>
	  		<a href="#le" data-toggle="tab">Piezometer</a>
	  	</li>
	  	<li class>
	  		<a href="#lf" data-toggle="tab">Readouts</a>
	  	</li>
	  	<li class>
	  		<a href="#li" data-toggle="tab">Vibration Monitoring</a>
	  	</li>
	  	<li class>
	  		<a href="#lj" data-toggle="tab">Data Logger</a>
	  	</li>
	  </ul>

	  <div class="tab-content">
	  	<div class="tab-pane active" id="la">

			    <div class="thumbnail">
			      <img src="<%= asset_path 'standard_casing.jpg' %>" alt="">
			      <h5>Standard Inclinometer Casing</h5>
			    </div>

			    <div class="thumbnail">
			      <img src="<%= asset_path 'inclinometer_system.jpg' %>" alt="">
			      <h5>Inclinometer System</h5>
			    </div>

			   	<div class="thumbnail">
			      <img src="<%= asset_path 'quick_drive.jpg' %>" alt="">
			      <h5>Quick Drive Casing</h5>
			    </div>

				<div class="thumbnail">
			      <img src="<%= asset_path 'inplace_inclinometer.jpg' %>" alt="">
			      <h5>In-Place Inclinometer</h5>
			    </div>
	  		</div>
	  		<div class="tab-pane" id="lb">
			    <div class="thumbnail">
			      <img src="<%= asset_path 'vibrating_extensometer.jpg' %>" alt="">
			      <h5>Vibrating Extensometer</h5>
			    </div>

			    <div class="thumbnail">
			      <img src="<%= asset_path 'rod_extensometer.jpg' %>" alt="">
			      <h5>Rod Extensometer</h5>
			    </div>

			   	<div class="thumbnail">
			      <img src="<%= asset_path 'tape_extensometer.jpg' %>" alt="">
			      <h5>Tape Extensometer</h5>
			    </div>
	  		</div>
			<div class="tab-pane" id="lc">
			    <div class="thumbnail">
			      <img src="<%= asset_path 'arcweldable_straingauge.jpg' %>" alt="">
			      <h5>Arc Weldable Strain Gauge</h5>
			    </div>

			    <div class="thumbnail">
			      <img src="<%= asset_path 'spotweldable_straingauge.jpg' %>" alt="">
			      <h5>Spot Weldable Strain Gauge</h5>
			    </div>

			   	<div class="thumbnail">
			      <img src="<%= asset_path 'concrete_straingauge.jpg' %>" alt="">
			      <h5>Concrete Surface Mounted Strain Gauge</h5>
			    </div>

			   	<div class="thumbnail">
			      <img src="<%= asset_path 'vibrating_straingauge.jpg' %>" alt="">
			      <h5>Embedment Strain Gauge</h5>
			    </div>

			   	<div class="thumbnail">
			      <img src="<%= asset_path 'sisterbar_straingauge.jpg' %>" alt="">
			      <h5>Sisterbar-Rebar Strain Gauge</h5>
			    </div>
	  		</div>
			<div class="tab-pane" id="ld">
			    <div class="thumbnail">
			      <img src="<%= asset_path 'tilt_sensor.jpg' %>" alt="">
			      <h5>Tilt Sensor</h5>
			    </div>

			    <div class="thumbnail">
			      <img src="<%= asset_path 'electrolevel_beamsensor.jpg' %>" alt="">
			      <h5>Electrolevel Beam Sensor</h5>
			    </div>

			   	<div class="thumbnail">
			      <img src="<%= asset_path 'digital_tiltmeter.jpg' %>" alt="">
			      <h5>Portable Digital Tiltmeter</h5>
			    </div>
	  		</div>
			<div class="tab-pane" id="le">
	  		<div class="thumbnail">
			      <img src="<%= asset_path 'vw_piezometer.jpg' %>" alt="">
			      <h5>Vibrating Wire Piezometer</h5>
			    </div>

			    <div class="thumbnail">
			      <img src="<%= asset_path 'hydraulic_piezometer.jpg' %>" alt="">
			      <h5>Hydraulic Piezometer</h5>
			    </div>

			   	<div class="thumbnail">
			      <img src="<%= asset_path 'pneumatic_piezometer.jpg' %>" alt="">
			      <h5>Pneumatic Piezometer</h5>
			    </div>

			   	<div class="thumbnail">
			      <img src="<%= asset_path 'vnotchweir_monitor.jpg' %>" alt="">
			      <h5>V-Notch Weir Monitor</h5>
			    </div>

			   	<div class="thumbnail">
			      <img src="<%= asset_path 'standpipe_piezometer.jpg' %>" alt="">
			      <h5>Standpipe Piezometer</h5>
			    </div>

			   	<div class="thumbnail">
			      <img src="<%= asset_path 'waterlevel_meters.jpg' %>" alt="">
			      <h5>Waterlevel Meters</h5>
			      <p></p>
			    </div>
	  		</div>
			<div class="tab-pane" id="lf">
			    <div class="thumbnail">
			      <img src="<%= asset_path 'vwnote.jpg' %>" alt="">
			      <h5>VWnote</h5>
			    </div>

			    <div class="thumbnail">
			      <img src="<%= asset_path 'vw_recorder.jpg' %>" alt="">
			      <h5>Vibration Wire Recorder</h5>
			    </div>

			   	<div class="thumbnail">
			      <img src="<%= asset_path 'vw_readout.jpg' %>" alt="">
			      <h5>Vibrating Wire Readout</h5>
			    </div>

			   	<div class="thumbnail">
			      <img src="<%= asset_path 'vw_minilogger.jpg' %>" alt="">
			      <h5>Vibration Wire Mini Logger</h5>
			    </div>
	  		</div>
			<div class="tab-pane" id="li">
			    <div class="thumbnail">
			      <img src="<%= asset_path 'vibra.jpg' %>" alt="">
			      <h5>VIBRA Monitoring System</h5>
			    </div>
	  		</div>
			<div class="tab-pane" id="lj">
			    <div class="thumbnail">
			      <img src="<%= asset_path 'cables.jpg' %>" alt="">
			      <h5>Cables</h5>
			    </div>

			    <div class="thumbnail">
			      <img src="<%= asset_path 'dataloggers.jpg' %>" alt="">
			      <h5>Dataloggers</h5>
			    </div>
	  	</div>

	</div>
</div>

