<% provide(:title, 'Soil Investigation') %>
		<h3>Soil Investigation</h3>

		<p>
			GeoLS offers a comprehensive coverage of Geotechnical Investigation works in both soil and rock, planning and designing package comprehensive instrumentation works for building development, reclamation and tunneling projects inclusive of manual type and real time automatic instrumentation systems together with alarm via GSM Mobile. Our services can be categorized into four different categories:
		</p>
