<% provide(:title, 'Soil Investigation') %>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="<%= asset_path 'investigation2.jpg' %>" data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:First slide" alt="First slide">
        </div>
        <div class="item">
          <img src="<%= asset_path 'services-banner.jpg' %>" data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:Second slide" alt="Second slide">
        </div>
        <div class="item">
          <img src="<%= asset_path 'investigation1.jpg' %>" data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:Third slide" alt="Third slide">
        </div>
      </div>
    </div>

	<div class="container">
		<h1>
			Soil Investigation and Laboratory Testing
		</h1>

	<br />

		<p>GeoLS offers a comprehensive coverage of Geotechnical Investigation works in both soil and rock. We carry out Soil Investigation Services and preliminary foundation designs. We own a vast number of drilling rigs to cater our client's needs. Our services includes the following:</p>

		<ul>
			<li>
				Boring work in soil and rock.
			</li>
			<li>
				Soil Sampling (undisturbed and disturbed)
			</li>
			<li>
				Standard Penetration Test.
			</li>
			<li>
				In-Situ Vane Shear and Permeability Test.
			</li>
			<li>
				Pressuremeter Test.
			</li>
			<li>
				Cone Penetration Test.
			</li>
			<li>
				In-Situ Permeability Test.
			</li>
			<li>
				Ground Water Sampling
			</li>
			<li>
				Triial Strength Test
			</li>
			<li>
				Rock Testing
			</li>
			<li>
				Volume Change Test
			</li>
		</ul>

	</div>

