/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
}

h5 {
  color: #FBB917;
}

.img-responsive {
display: block;
height: auto;
max-width: 100%;
border: 1px solid orange;
}


.thumbnail h5 {
  text-align: center;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  background-color: #FBB917;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */

.navbar-default {
  background-color: rgba(17, 13, 13, 0.68);
  border-color: #D67529;
}

.navbar-list a:hover {
  background-color: #413839;
}

.navbar .nav > li > a {
  color: #FBB917;
}

.navbar .nav > li > a:hover {
  color: #fff;
}

.navbar-list .active {
  background-color: #fff;
}

ul.nav li.dropdown:hover ul.dropdown-menu{
  display: block;
}

ul.dropdown-menu {
  max-width: 500px;
  background-color: #eee;
}

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  background-color: #FBB917;
  color: #413839;
}

.navbar-nav li .dropdown-menu {
  background-color: rgba(17, 13, 13, 0.68);
}

.navbar-nav li .dropdown-menu a:hover {
  background-color: #FBB917;
  color: white;
}

.navbar-nav li .dropdown-menu a {
  color: #FBB917;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 60px;

}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 600px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 600px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}

.img-circle {
  border-radius: 50%;
  border: 1px solid orange;
}

.carousel-indicators .active {
width: 12px;
height: 12px;
margin: 0;
background-color: #000;
}

.carousel-indicators li {
display: inline-block;
width: 10px;
height: 10px;
margin: 1px;
text-indent: -999px;
cursor: pointer;
border: 1px solid #000;
border-radius: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}



/* FOOTER */

.footer {
  margin-top: 45px;
  padding-top: 5px;
  color: #999;
  background: url('footerbg.png') 100% repeat;
  height: auto;
  width: auto;

}

.footer p {
  line-height: 8px;
  font-size: 13px;
}

.footer a {
  color: #999;
}  

.footer a:hover { 
  color: #fff;
  text-decoration: none;
}

.footer ul li {
  float: left;
  margin-left: 10px;
}
.span-footer {
  margin-top: 20px;
  margin-left: 95px;
  margin-right: 0px;
  float: left;
  width: 255px;
  height: auto;
}

#copyright {
  height: auto;
  margin: 0 auto;
  width: 215px;
  color: #FBB917;
}

.row-footer {
  width: 100%;
  height: auto;
  margin: 0px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.contact-map {
  float: right;
  
}
/* End Animation Styles */







